body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lab(87.96% 1.04 -0.75);
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #101010;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
}

.buttons {
    display: grid ;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #faf7f76b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}