body {
  font-family: Arial;
  margin: 0;
  background: #f6f4ff;
}
header {
  background-color: rgb(15, 31, 88);
  color: white;
  padding: 1em;
  text-align: center;
}
nav {
  margin-top: 10px;
}
nav a {
  margin: 0 1em;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.section {
  display: none;
  padding: 2em;
}
.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.product-card {
  background: white;
  border-radius: 8px;
  padding: 1em;
  text-align: center;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
button {
  background-color: rgb(21, 24, 89);
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}
#cart-items p {
  margin: 0.5em 0;
}
