body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}
h1 {
    color: #333;
}
#board {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-gap: 5px;
    margin: 20px auto;
    background-color: #0a0a0b;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}
.cell {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
#message {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    background-color: #030504;
    color: white;
    border-radius: 5px;
}
button:hover {
    background-color: #218838;
}
